.cart-item {
    display: flex;
    padding: 2rem;
    margin: 1rem 0;
    border: 1px solid #555;
    border-radius: 1rem;
}

.cart-item-img {
    width: 6rem;
}

.cart-item-content-container {
    padding-left: 2rem;
}

.cart-item-content-container p {
    padding-top: 5px;
}

.cart-item-price {
    padding-top: 8px;
    color: var(--primary-color);
}

.delete_btn {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.delete_btn:hover {
    background-color: #555;
}

.sin-evento{
    text-align: center;
    height: 100vh;
}
.btn-carrito {
  appearance: none;
  left: 2em;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-carrito:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
.color-red{
    background-color: #c70039;
}

.color-red:hover {
  background-color: #c70039;
}

.color-green{
    background-color: #298e46;
}

.color-green:hover{
    background-color: #298e46;
}

.btn-carrito:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}