.card-details{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    margin: 1.5rem;
    padding: 3rem;
    overflow: hidden;
}

.card-details img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.card-details .card-body{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.card-details .card-body p{
    font-size: 1rem;
    color: black;
}

.card-details .card-footer{
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
}

.card-details h4{
    padding: 1rem;
}

.carrito{
    margin-top: 1rem;
}

.agregar-carrito{
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.agregar-carrito:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}
@media (max-width: 1024px) {
    .agregar-carrito{
        transform: none;
    }
}
@media (max-width:769px){
    .card-details{
        flex-direction: column;
    }
    .agregar-carrito {
      padding: 10px 30px;
    }
    .card-details .card-footer{
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width:550px){
    .card-details img{
        width: 350px;
        height: 300px;
    }
}